
/* .Roboto-font {font-family: 'Roboto', sans-serif;}

h1{
    color: crimson;
}
img{

  margin-left: 350px;
} */
.data{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}

/* .Ol li{
    margin: 20px;
    font-size: large;
    font-weight: 900;
    color: rgb(17, 3, 43);

} */

/* .fancy-input--input {
    display: block;
    font-size: 14pt;
    line-height: 1.5;
    padding: 15px;
    outline: none;
    border: none;
    pointer-events: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  } */
  

  
  /* CSS */
  /* .button-24 {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: button-24none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  } */
  
  /* .button-24:hover,
  .button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
  } */
  
  /* .button-24:active {
    opacity: .5;
  } */

  /* .nav-link.active {
    background-color: #007bff;
    color: #fff;
  } */
  nav {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    padding: 10px;
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
  }
  
  .navbar-nav {
    margin-left: auto;
  }
  
  .navbar-nav .nav-link {
    font-size: 16px;
    color: #333;
    margin-right: 10px;
    text-transform: uppercase;
    position: relative;
  }
  
  .navbar-nav .nav-link.active {
    font-weight: bold;
    color: #007bff;
  }
  
  #indicator {
    position: absolute;
    height: 3px;
    top: calc(100% - 3px);
    left: 0;
    background-color: #007bff;
    transition: all 0.2s ease-in-out;
  }
  
  .navbar-nav .nav-link.active~#indicator {
    width: 100%;
    transform: translateX(0%);
  }
  
  .navbar-nav .nav-link:hover {
    color: #007bff;
  }
  
  @media (max-width: 768px) {
    .navbar-nav {
      margin-left: 0;
      margin-top: 10px;
    }
    
    .navbar-toggler {
      margin-top: 5px;
    }
  }
  
  
  

