<!--The content below is only a placeholder and can be replaced.-->
<div class="data">

  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">

  <!-- <button (click)=" onbtnClick()">click me</button> -->
  <!-- <div><p>{{coutn}}</p></div> -->
  <!-- <input (keyup)="Onkeyup($event)"> -->

  <!-- <input type="text" [(ngModel)]="firstName"> {{firstName}} -->
  <!-- <div>  <h1>Anguler Assignment using Data Binding</h1></div>
  {{username}}
  <ol class="Ol">
    <li > <div class="fancy-input"> <input class="fancy-input--input" type="text" [(ngModel)]="username"> &nbsp;   </div></li>
    <li><p>UserName: {{username}}</p></li>
    <li><button [disabled]="username">Click Me only UserName is Available</button></li>
    <li><button class="button-24"  (click)="onCheckText(username)" type="reset" >Reset usrname</button></li>
   </ol> -->

   <!-- <app-test2 [child]="parentToChild"></app-test2> -->
<!-- <app-card [title]="post[0].title" [content]="post[0].content"></app-card>
<app-card [title]="post[1].title" [content]="post[1].content"></app-card>
<app-card [title]="post[2].title" [content]="post[2].content"></app-card> -->

<app-ng-for-practice></app-ng-for-practice>
<hr>
<app-ng-forpractice1></app-ng-forpractice1>
<hr>
<app-ng-for-product-data></app-ng-for-product-data>
<hr>
<app-ng-if-practice></app-ng-if-practice>
<hr>
<app-ng-if-user-data></app-ng-if-user-data>
<hr>
<app-ng-for-ng-if-practice></app-ng-for-ng-if-practice>
<br>
<app-pass-generator></app-pass-generator>


<!-- <app-pass-word-generator></app-pass-word-generator> -->
</div>




