
<a routerLink="/product" class="btn btn-primary">back to product</a>


<div class="main">
    <ul class="cards">
      <li class="cards_item">
        <div class="card">
          <div class="card_image">
            <img src="https://th.bing.com/th/id/OIP.7Xeq6_3Gq71cFlxuy6_7GgHaEU?pid=ImgDet&rs=1" />
          </div>
          <div class="card_content">
            <h2 class="card_title">Samsung Galaxy Watch 6 Pro</h2>
            <div class="card_text">
               <b> Samsung Galaxy Watch 6 Pro: Price, Release Date & Feature! </b> Hello, Guy’s welcome to our website here we are sharing with you about Samsung New Watch 2023. At this moment Samsung Authority making a Quality watch for their Customer whose name is Galaxy Watch 6 Pro. It is an Upcoming Watch by Samsung. Samsung’s smartwatch formula continues to deliver, with a robust build, longer battery life and new fitness tracking features, a user-friendly interface, and a comprehensive app suite.
              <hr />
             
            </div>
          </div>
        </div>
      </li>
  
      <li class="cards_item">
        <div class="card">
          <div class="card_image">
            <img src="https://th.bing.com/th/id/OIP.69gOvYJWWS3ynjojrqWt2QHaIQ?pid=ImgDet&rs=1" />
          </div>
          <div class="card_content">
            <h2 class="card_title">W29 plus pro</h2>
            <div class="card_text">
     <b>5G comes in two storage variants — 8GB+128GB and 12GB+256GB — at Rs 39,999 and Rs 43,999, respectively.</b>

<p> launch the OnePlus 9R 5G in India, making the seamless integration of top-of-the-line hardware and software more accessible to a wider audience of gaming enthusiasts,” Pete Lau, Founder, CEO and Chief Product Officer of OnePlus, said in a statement.</p>
           
            </div>
          </div>
        </div>
      </li>
  
      <li class="cards_item">
        <div class="card">
          <div class="card_image">
            <span class="note">Populer</span>
            <img src="https://files.ozbargain.com.au/n/49/596049x.jpg?h=9aa1445c" />
      
          </div>
          <div class="card_content">
            <h2 class="card_title">Samsung Galaxy Watch Active2 LTE</h2>
            <div class="card_text">
              <p>An avalanche of iPhone 12 leaks has got everyone talking this week, and the specs for the new models are pretty exciting, to say the least. But one noticeable omission from Apple's proposed plans is the intention to follow in the footsteps of its rivals and release a foldable phone</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>