<p>mobile works!</p>
<a routerLink="/product" class="btn btn-primary">back to product</a>


<div class="main">
    <ul class="cards">
      <li class="cards_item">
        <div class="card">
          <div class="card_image">
            <img src="https://th.bing.com/th/id/OIP.HCaTl58BLQzphv7oWdDcngAAAA?pid=ImgDet&rs=1" />
          </div>
          <div class="card_content">
            <h2 class="card_title">Samsung Galaxy S23 Ultra</h2>
            <div class="card_text">
                <b>Samsung Galaxy S23 Ultra 2023 - 5G, 240HZ, 200MP Camera, 1TB, 20GB</b>
              <p>The most anticipated Samsung Galaxy S23 Ultra 5G 2023 is the alternative of the Galaxy Note line with phone specifications, features, specs, camera features,..

              </p>
              <hr />
             
            </div>
          </div>
        </div>
      </li>
  
      <li class="cards_item">
        <div class="card">
          <div class="card_image">
            <img src="https://images.odishatv.in/uploadimage/library/16_9/16_9_0/OnePlus-9R-5G_1617886658.jpg" />
          </div>
          <div class="card_content">
            <h2 class="card_title">OnePlus 9R 5G</h2>
            <div class="card_text">
     <b>5G comes in two storage variants — 8GB+128GB and 12GB+256GB — at Rs 39,999 and Rs 43,999, respectively.</b>

<p> launch the OnePlus 9R 5G in India, making the seamless integration of top-of-the-line hardware and software more accessible to a wider audience of gaming enthusiasts,” Pete Lau, Founder, CEO and Chief Product Officer of OnePlus, said in a statement.</p>
           
            </div>
          </div>
        </div>
      </li>
  
      <li class="cards_item">
        <div class="card">
          <div class="card_image">
            <span class="note">Populer</span>
            <img src="https://cdn.mos.cms.futurecdn.net/cqt4YEbdJqBkZVBwsQtmQk-1200-80.jpg" />
      
          </div>
          <div class="card_content">
            <h2 class="card_title">Folding iPhone concept </h2>
            <div class="card_text">
              <p>An avalanche of iPhone 12 leaks has got everyone talking this week, and the specs for the new models are pretty exciting, to say the least. But one noticeable omission from Apple's proposed plans is the intention to follow in the footsteps of its rivals and release a foldable phone</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>