

<div class="row">
  <div class="col-md-12">
    <p appCustom>this is custom directive example</p>
  </div>
    <div class="col-md-8">
        <div class="card" >
            <img class="card-img-top" src="https://th.bing.com/th/id/OIP.8_H6Z__Ie5ThXsw5nzgtCAHaEK?w=286&h=180&c=7&r=0&o=5&pid=1.7" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Laptop</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="laptop" class="btn btn-primary">Laptop</a>
            </div>
        </div>
        <div class="card" >
            <img class="card-img-top" src="https://th.bing.com/th/id/OIP.7HRRLcb9atBWLCw9JPv5WwHaEH?w=308&h=180&c=7&r=0&o=5&pid=1.7" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Mobile</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="mobile" class="btn btn-primary">Mobile</a>
            </div>
        </div>
        <div class="card" >
            <img class="card-img-top" src="https://th.bing.com/th/id/OIP.y6wlMSPsD5685w5O69cvJgHaE8?w=290&h=193&c=7&r=0&o=5&pid=1.7" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Camera</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="camera" class="btn btn-primary">Camera</a>
            </div>
        </div>
        <div class="card" >
            <img class="card-img-top" src="https://th.bing.com/th/id/OIP.yymNN6px7wTMcO_YgRv8FgHaE8?w=269&h=181&c=7&r=0&o=5&pid=1.7" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Watch</h5>
              <p class="card-text">Some quick example text to build on the card title and make up 
                the bulk of the card's content.</p>
              <a routerLink="watch" class="btn btn-primary">Watch</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
  <router-outlet></router-outlet>
</div>